.intro-area {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.intro-area .bg {
  position: absolute;
  opacity: 0.5;
  z-index: -1;
}

.intro {
  padding-left: 100px;
  padding-top: 50px;
}

.intro p {
  font-size: 22px;
  color: #00cf5d;
}

.intro h1 {
  font-size: 78px;
  font-weight: 900;
  margin-bottom: 25px;
}

.intro h3 {
  color: #00cf5d;
}

.intro ul {
  display: flex;

  margin-bottom: 25px;
}

.intro ul li {
  position: relative;
  margin-right: 25px;
  color: rgba(255, 255, 255, 0.85);
}

.intro ul li:before {
  position: absolute;
  content: "";
  left: -15px;
  top: 10px;
  background-color: #00cf5d;
  width: 8px;
  height: 8px;
  border-radius: 10px;
}

.intro ul li:first-child:before {
  display: none;
}
