.skill-area {
  position: relative;
}

.skills {
  padding-left: 100px;
}

.skill-nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.skill-nav li {
  border: solid 2px #00cf5d;
  color: rgba(255, 255, 255, 0.85);
  padding: 5px 25px;
  margin-right: 15px;
  cursor: pointer;
  border-radius: 4px;
}

.skill-nav li:last-child {
  margin-right: 0;
}

.skill-nav li.active {
  background-color: #00cf5d;
  font-weight: 900;
}

.skill {
  display: flex;
  flex-wrap: wrap;
}

.skill > * {
  flex: 1 1 calc(100% / 2 - 30px);
}

.skill .card {
  position: relative;
  background-color: #1d293a;
  padding: 25px;
  padding-bottom: 35px;
  margin: 15px;
  border-radius: 4px;
}

.skill .card h4 {
  font-size: 22px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.85);
}

.skill .card p {
  position: absolute;
  background-color: #00cf5d;
  padding: 3px 5px;
  top: 25px;
  font-weight: 900;
  color: #fff;
  right: 15px;
  border-radius: 4px;
}

.skill .card .progress-ar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10px;
  background-color: #00cf5d;
  border-radius: 4px;
}

.skill > *:nth-child(1),
.skill > *:nth-child(2) {
  margin-top: 0;
}

.skill > *:nth-child(2n - 1) {
  margin-left: 0;
}

.skill > *:nth-child(2n) {
  margin-right: 0;
}

.skill > *:last-child {
  margin-right: 0;
  flex: 0 0 calc(50% - 15px);
}

@media only screen and (max-width: 768px) {
  .skills {
    padding-left: 0;
  }

  .skill-nav {
    justify-content: center;
  }

  .skill-nav li {
    padding: 5px 15px;
    margin-right: 10px;
  }

  .skill > * {
    flex: 1 1 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .skill .card {
    margin: 0;
    margin-bottom: 30px;
  }

  .skill > *:last-child {
    flex-basis: 100%;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 481px) {
  .skill-nav {
    margin-bottom: 0;
  }

  .skill-nav li {
    margin: 0 5px;
    margin-bottom: 15px;
  }

  .skill .card {
    margin-bottom: 15px;
  }
}
