.container {
  width: 1200px;
  padding: 100px 25px;
  margin: 0 auto;
}

@media only screen and (max-width: 1199px) {
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    padding: 80px 15px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 60px 15px;
  }
}

@media only screen and (max-width: 481px) {
  .container {
    padding: 40px 15px;
  }
}
