.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .language ul {
  display: flex;
}

.footer .language ul li {
  position: relative;
  background-color: #1d293a;
  margin-right: 15px;
  padding: 3px 10px;
  font-weight: 900;
}

.footer .language ul li p {
  margin-bottom: 3px;
  text-transform: uppercase;
}

.footer .language ul li .progress {
  position: absolute;
  content: "";
  left: 0;
  background-color: #00cf5d;
  height: 3px;
  width: 100%;
  bottom: 0;
}

.footer .copyright {
  display: flex;
  align-items: center;
}

.footer .copyright .github {
  display: flex;
  margin-right: 15px;
}

.footer .copyright .github li {
  margin-left: 5px;
}

.footer .copyright .github li a {
  text-decoration: none;
}

.footer .copyright .github li a p {
  font-weight: 300;
  font-size: 14px;
}

.footer .copyright p {
  text-transform: uppercase;
  font-weight: 900;
}

.footer .copyright p span {
  display: inline-block;
  cursor: pointer;
  margin-left: 15px;
  background-color: #00cf5d;
  padding: 2px 5px;
}
