header {
  position: fixed;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo svg {
  width: 45px;
}

.menubar {
  display: flex;
}

.menubar li {
  margin: 0 15px;
}

.menubar li:last-child {
  margin-right: 0;
}

.menubar li a {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
  padding: ;
}
