.title {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title.left {
  justify-content: flex-end;
}

.title.left.social {
  justify-content: space-between;
}

.title.left {
  left: 35px;
}

.title.right {
  right: 35px;
}

.title:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  margin: 15px 0;
  background: rgba(255, 255, 255, 0.85);
  z-index: -1;
}

.title ul {
  padding: 5px;
  background-color: #111a28;
}

.title ul li {
  margin-bottom: 10px;
}

.title ul li a {
  color: rgba(255, 255, 255, 0.85);
}

.title p {
  padding: 5px 10px;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #1d293a;
  transform-origin: 50%;
  color: rgba(255, 255, 255, 0.85);
  border-radius: 4px;
}

.title.left p {
  transform: rotate(-90deg);
}

.title.title.right p {
  transform: rotate(90deg);
}

@media only screen and (max-width: 1199px) {
  .title.left {
    left: 0;
  }

  .title.right {
    right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    position: relative;
    height: initial !important;
    padding-bottom: 50px;
    flex-direction: column-reverse;
  }

  .title.left p,
  .title.title.right p {
    transform: rotate(0);
  }

  .title:after {
    top: 0;
    height: 2px;
    width: 260px;
  }

  .title ul {
    display: flex;
    margin-top: 15px;
  }

  .title ul li {
    margin: 0 15px;
  }
}

@media only screen and (max-width: 481px) {
  .title:after {
    width: 180px;
  }

  .title {
    padding-bottom: 25px;
  }
}
